body {
	background: $white;
}

.site {
	border-color: $teal;
	background: $white;
}



.copy {
	& + .cta {
		padding-top: 2rem;
	}
}

.sub-grid {
	display: grid;
	gap: 0 2rem;
	grid-template-columns: repeat(4, 1fr);

	@include tablet-small {
		grid-template-columns: repeat(8, 1fr);
	}

	@include desktop-small {
		grid-template-columns: repeat(12, 1fr);
	}

	& > * {
		grid-column: 1 / -1;
	}
}