@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  bottom: -35px;
  padding: 0;
  border: none;
  z-index: 100;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 20px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: 20px;
}
@media screen and (min-width: 992px) {
  .slick-prev {
    left: 40px;
  }
  [dir=rtl] .slick-prev {
    left: auto;
    right: 40px;
  }
}
.slick-prev:before {
  width: 60px;
  height: 60px;
  content: "";
  display: block;
}

.slick-next {
  right: 20px;
}
[dir=rtl] .slick-next {
  left: 20px;
  right: auto;
}
@media screen and (min-width: 992px) {
  .slick-next {
    right: 40px;
  }
  [dir=rtl] .slick-next {
    left: 40px;
    right: auto;
  }
}
.slick-next:before {
  width: 60px;
  height: 60px;
  content: "";
  display: block;
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -1rem;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  z-index: 10;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  padding: 0 !important;
  cursor: pointer;
}
.slick-dots li:nth-last-child(n+1):nth-last-child(-n+1):first-child, .slick-dots li:nth-last-child(n+1):nth-last-child(-n+1):first-child ~ li {
  display: none;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 12px;
  width: 12px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 6px;
  height: 6px;
  line-height: 20px;
  text-align: center;
  background: transparent;
  border: 2px solid #00a3b8;
  border-radius: 50%;
}
.slick-dots li.slick-active button:before {
  background: #00a3b8;
  border-color: #00a3b8;
}

.cta .btn {
  background: #e57526;
  color: #fff;
  border-color: #e57526;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  padding: 16px 24px 14px 24px;
}
.cta .btn:hover {
  background: transparent;
  color: #e57526;
}
.cta .btn.invert {
  background: transparent;
  color: #e57526;
}
.cta .btn.invert:hover {
  background: #e57526;
  color: #fff;
  border-color: #e57526;
}
.cta .underline {
  font-weight: bold;
  font-size: clamp(0.875rem, 1vw, 1rem);
  font-style: italic;
  color: #e57526;
}

.table .p2 > * + * {
  padding-top: 0;
}
.table .row {
  padding: 2rem 0;
  border-bottom: 1px solid #aaa;
}
@media screen and (min-width: 768px) {
  .table .row {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
  }
  .table .row div:first-child:nth-last-child(1),
.table .row div:first-child:nth-last-child(1) ~ div {
    width: 100%;
    flex: 1;
    padding-right: 2rem;
  }
  .table .row div:first-child:nth-last-child(2),
.table .row div:first-child:nth-last-child(2) ~ div {
    width: 50%;
    flex: 1;
    padding-right: 2rem;
  }
  .table .row div:first-child:nth-last-child(3),
.table .row div:first-child:nth-last-child(3) ~ div {
    width: 33.3333333333%;
    flex: 1;
    padding-right: 2rem;
  }
  .table .row div:first-child:nth-last-child(4),
.table .row div:first-child:nth-last-child(4) ~ div {
    width: 25%;
    flex: 1;
    padding-right: 2rem;
  }
  .table .row div:first-child:nth-last-child(5),
.table .row div:first-child:nth-last-child(5) ~ div {
    width: 20%;
    flex: 1;
    padding-right: 2rem;
  }
  .table .row div:first-child:nth-last-child(6),
.table .row div:first-child:nth-last-child(6) ~ div {
    width: 16.6666666667%;
    flex: 1;
    padding-right: 2rem;
  }
}
.table .header-row {
  background: #0A2245;
  color: #fff;
  font-weight: bold;
  border-bottom: 0;
  padding: 1rem;
  display: none;
}
@media screen and (min-width: 768px) {
  .table .header-row {
    display: flex;
  }
}

.ba-slider .handle:after {
  background: #EBF1FC;
  box-shadow: none;
  border: none;
  content: "↔";
  line-height: 60px;
}
.ba-slider.draggable:after {
  line-height: 46px;
}
.ba-slider .caption {
  background: rgba(255, 255, 255, 0.7);
  color: #0076C0;
  padding: 15px;
  font-size: 1rem;
  line-height: 1.25em;
  text-align: left;
  font-style: italic;
}
@media screen and (min-width: 992px) {
  .ba-slider .caption {
    font-size: 1rem;
  }
}

.download-report a {
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.download-report a .details {
  font-size: 0.75rem;
  color: #6A6A6A;
  padding-left: 3px;
}

.video a {
  display: block;
  position: relative;
}
.video a:after {
  display: block;
  content: "";
  background: url(images/video-play-btn.svg) no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  z-index: 10;
  width: 96px;
  height: 96px;
  top: calc(50% - 48px);
  left: calc(50% - 48px);
}
@media screen and (min-width: 992px) {
  .video a:after {
    width: 124px;
    height: 124px;
    top: calc(50% - 62px);
    left: calc(50% - 62px);
  }
}

section.next {
  background: #fafafa;
  padding-top: clamp(3rem, 10vh, 8rem);
  padding-bottom: clamp(3rem, 10vh, 8rem);
  text-align: center;
}
section.next .copy {
  padding: 1rem 0 1rem 0;
}
@media screen and (min-width: 992px) {
  section.next .copy {
    grid-column: 4/span 8;
  }
}

body,
button,
input,
select,
optgroup,
textarea {
  font-family: "DM Sans", sans-serif;
}

a {
  color: #00a3b8;
}

.headline {
  padding-bottom: 1rem;
}
.headline.orange {
  color: #e57526;
}
.headline.teal {
  color: #00a3b8;
}
.headline.centered {
  text-align: center;
}
.headline.underline:after {
  display: block;
  content: "";
  width: 1.5rem;
  height: 0.25rem;
  margin-top: 1rem;
}
.headline.underline.centered:after {
  margin-left: auto;
  margin-right: auto;
}
.headline.underline.orange:after {
  background: #e57526;
}
.headline.underline.teal:after {
  background: #00a3b8;
}
.headline h1 {
  font-size: clamp(1.75rem, 4vw, 2.25rem);
  line-height: 1.25em;
  font-weight: bold;
}
.headline h2 {
  font-size: clamp(1.5rem, 3vw, 1.75rem);
  line-height: 1.25em;
  font-weight: bold;
}
.headline h3 {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  line-height: 1.25em;
  font-weight: bold;
}
.headline h4 {
  font-size: clamp(1.125rem, 1.5vw, 1.25rem);
  line-height: 1.25em;
  font-weight: bold;
}

.copy {
  font-family: "PT Serif", serif;
}
.copy.sans-serif {
  font-family: "DM Sans", sans-serif;
}
.copy a {
  color: #e57526;
}

.p1 {
  font-size: clamp(1.125rem, 1.4vw, 1.25rem);
  line-height: 1.5em;
}

.p2 {
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  line-height: 1.5em;
}

.p3 {
  font-size: clamp(0.875rem, 1vw, 1rem);
  line-height: 1.5em;
}

.caption {
  padding-top: 0.5rem;
}
.caption p {
  font-size: clamp(0.75rem, 1vw, 0.8125rem);
  color: #aaaaaa;
  font-style: italic;
}

.copy ul li + li,
.copy ol li + li {
  padding-top: 0.5rem;
}

body {
  background: #fff;
}

.site {
  border-color: #00a3b8;
  background: #fff;
}

.copy + .cta {
  padding-top: 2rem;
}

.sub-grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (min-width: 480px) {
  .sub-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .sub-grid {
    grid-template-columns: repeat(12, 1fr);
  }
}
.sub-grid > * {
  grid-column: 1/-1;
}

.site-header {
  padding: 2rem 0;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 10;
  align-items: center;
}
.site-header .site-logo {
  grid-column: 2/span 3;
}
@media screen and (min-width: 992px) {
  .site-header .site-logo {
    grid-column: 2/span 4;
  }
}
.site-header .site-logo a {
  display: block;
  max-width: 10rem;
}
@media screen and (min-width: 480px) {
  .site-header .site-logo a {
    max-width: 14rem;
  }
}
.site-header .hamburger {
  grid-column: 5/span 1;
}
@media screen and (min-width: 480px) {
  .site-header .hamburger {
    grid-column: 9/span 1;
  }
}
.site-header .hamburger .buns .patty,
.site-header .hamburger .buns .patty:before,
.site-header .hamburger .buns .patty:after {
  background: #e57526;
}
@media screen and (min-width: 992px) {
  .site-header .site-nav {
    grid-column: 6/span 8;
    padding-top: 0 !important;
  }
}
@media screen and (min-width: 992px) {
  .site-header .site-nav .main-nav {
    justify-content: flex-end;
    width: auto;
    flex: 1;
  }
  .site-header .site-nav .main-nav .nav-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
  }
  .site-header .site-nav .main-nav .nav-item + .nav-item:before {
    content: "·";
    display: block;
    color: #e57526;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: calc(0.25rem + 2px);
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 992px) and (min-width: 1280px) {
  .site-header .site-nav .main-nav .nav-item + .nav-item:before {
    margin-left: 1.375rem;
    margin-right: 1.375rem;
  }
}
.site-header .site-nav .top-level-link {
  font-size: clamp(1.25rem, 1.7vw, 1.5rem);
  font-weight: bold;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid transparent;
}
@media screen and (min-width: 992px) {
  .site-header .site-nav .top-level-link {
    font-size: 0.8215rem;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1190px) {
  .site-header .site-nav .top-level-link {
    font-size: 0.9375rem;
  }
}
.site-header .site-nav .top-level-link:hover {
  border-bottom: 2px solid #e57526;
  text-decoration: none;
}
.site-header .site-nav .dropdown .top-level-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #e57526;
}
.site-header .site-nav .dropdown .top-level-link:after {
  background-image: url(images/icon-dropdown-arrow.svg);
}
.site-header .site-nav .sub-nav {
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(10, 34, 69, 0.1);
}
.site-header .site-nav .sub-nav .sub-link a {
  font-size: 0.875rem;
  font-weight: bold;
}

.page-header {
  padding: 3rem 0 3rem 0;
}
.page-header h1 {
  font-size: 2.5rem;
  color: #00a3b8;
  padding-bottom: 1rem;
}
.page-header h2 {
  font-weight: bold;
  color: #e57526;
  font-size: 0.875rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e57526;
}

body.home .nav-item.home > a,
body.page-template-existing-conditions .nav-item.existing-conditions > a,
body.page-template-opportunities-constraints .nav-item.opportunities-constraints > a,
body.page-template-site-plan-development-concepts .nav-item.site-plan-development-concepts > a,
body.page-template-survey .nav-item.survey > a {
  border-bottom: 2px solid #e57526;
}

.site-footer {
  background: #00a3b8;
  align-items: start;
  padding-top: clamp(3rem, 10vh, 8rem);
  padding-bottom: clamp(3rem, 10vh, 8rem);
}
.site-footer .logo a {
  display: block;
  max-width: 120px;
}
.site-footer .site-info {
  align-items: start;
}
.site-footer .site-info .logo {
  grid-column: 1/span 4;
}
@media screen and (min-width: 768px) {
  .site-footer .site-info .logo {
    grid-column: 1/span 1;
  }
}
@media screen and (min-width: 992px) {
  .site-footer .site-info .logo {
    grid-column: 1/span 2;
  }
}
.site-footer .site-info .logo a {
  max-width: 160px;
}
.site-footer .site-info .logo img {
  background: #fff;
  padding: 0.75rem;
  border-radius: 2px;
}
.site-footer .site-info .project-info {
  grid-column: 1/span 4;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .site-footer .site-info .project-info {
    grid-column: 2/span 3;
    padding-top: 0;
  }
}
@media screen and (min-width: 992px) {
  .site-footer .site-info .project-info {
    grid-column: 3/span 6;
  }
}
.site-footer .footer-nav h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}
.site-footer .footer-nav .links {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  -moz-columns: unset;
       columns: unset;
}
.site-footer .footer-nav .links .link a {
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  line-height: 1.5em;
}
.site-footer .utilties {
  margin-top: clamp(3rem, 10vh, 8rem);
  border-top: 2px solid #fff;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .site-footer .utilties {
    justify-content: space-between;
  }
}
.site-footer .copyright {
  margin: 0;
  padding: 0;
  border-top: none;
}
.site-footer .credits {
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .site-footer .credits {
    justify-content: flex-end;
  }
}

body.page-template-home.nav-open {
  overflow-y: hidden;
}
body.page-template-home.nav-open .site-header {
  background: #fff;
}
body.page-template-home.nav-open .site-nav {
  min-height: 100vh;
}
body.page-template-home section.home-hero {
  align-items: end;
}
body.page-template-home section.home-hero .photo {
  grid-row: 1;
  grid-column: 1/-1;
  position: relative;
  max-height: 90vh;
}
body.page-template-home section.home-hero .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-home section.home-hero .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-home section.home-hero .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 480px) {
  body.page-template-home section.home-hero .photo {
    max-height: 25rem;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-home section.home-hero .photo {
    position: relative;
    max-height: 90vh;
  }
  body.page-template-home section.home-hero .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }
  body.page-template-home section.home-hero .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-home section.home-hero .photo {
    position: relative;
    max-height: 70vh;
  }
  body.page-template-home section.home-hero .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50%;
  }
  body.page-template-home section.home-hero .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
body.page-template-home section.home-hero .project-info {
  grid-row: 1;
  z-index: 10;
  padding-bottom: 2rem;
  color: #fff;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.home-hero .project-info {
    padding-bottom: 5vh;
  }
}
body.page-template-home section.home-hero .project-info .headline {
  padding-bottom: 0;
}
body.page-template-home section.home-hero .project-info h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: clamp(1.125rem, 1.4vw, 1.25rem);
}
body.page-template-home section.home-hero .project-info h2:after {
  display: block;
  content: "";
  width: 2rem;
  height: 0.25rem;
  background: #e57526;
  margin-top: 0.5rem;
}
body.page-template-home section.home-hero .project-info h1 {
  padding-top: 0.5rem;
  font-size: clamp(2rem, 4vw, 3rem);
}
body.page-template-home .about-site {
  padding-top: clamp(3rem, 10vh, 8rem);
  padding-bottom: clamp(3rem, 10vh, 8rem);
}
body.page-template-home .about-site.has-banner {
  padding-top: 3rem;
}
body.page-template-home .about-site .headline h4 {
  font-weight: bold;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}
@media screen and (min-width: 992px) {
  body.page-template-home .about-site .copy {
    grid-column: 2/span 9;
  }
}
body.page-template-home .about-site .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem;
  border: 2px solid #00a3b8;
  margin-bottom: 3rem;
  border-radius: 3px;
}
body.page-template-home .about-site .banner-header {
  width: 100%;
}
@media screen and (min-width: 992px) {
  body.page-template-home .about-site .banner-header {
    width: auto;
  }
}
body.page-template-home .about-site .banner-header h3 {
  font-size: clamp(1.125rem, 1.25vw, 1.25rem);
  line-height: 1.25em;
}
@media screen and (min-width: 992px) {
  body.page-template-home .about-site .banner-header h3 {
    font-size: 0.9375rem;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-home .about-site .banner-header h3 {
    font-size: clamp(1.125rem, 1.25vw, 1.25rem);
  }
}
body.page-template-home .about-site .banner-header h3 strong {
  color: #00a3b8;
}
body.page-template-home .about-site .banner-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1.5rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home .about-site .banner-body {
    padding-top: 0;
  }
}
body.page-template-home .about-site .banner-body .cta {
  width: 100%;
}
@media screen and (min-width: 768px) {
  body.page-template-home .about-site .banner-body .cta {
    width: auto;
  }
}
body.page-template-home .about-site .banner-body .cta + .cta {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home .about-site .banner-body .cta + .cta {
    margin-top: 0;
    padding-left: 1rem;
  }
}
body.page-template-home .about-site .banner-body .cta .btn {
  border-width: 2px;
}
@media screen and (min-width: 992px) {
  body.page-template-home .about-site .banner-body .cta .btn {
    font-size: 0.6875rem;
    padding: 12px 18px 10px 18px;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-home .about-site .banner-body .cta .btn {
    font-size: 0.75rem;
    padding: 16px 24px 14px 24px;
  }
}
body.page-template-home section.the-park {
  padding-bottom: clamp(3rem, 10vh, 8rem);
  align-items: start;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.the-park .info {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.the-park .info {
    grid-column: 2/span 4;
  }
}
body.page-template-home section.the-park .photo {
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.the-park .photo {
    margin-top: 0;
    grid-column: 6/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.the-park .photo {
    grid-column: 7/span 7;
  }
}
body.page-template-home section.the-park .photo-wrapper {
  position: relative;
}
body.page-template-home section.the-park .photo-wrapper:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-home section.the-park .photo-wrapper > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-home section.the-park .photo-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-home section.timeline {
  padding-top: clamp(3rem, 10vh, 8rem);
  padding-bottom: clamp(3rem, 10vh, 8rem);
}
@media screen and (min-width: 992px) {
  body.page-template-home section.timeline .info {
    grid-column: 4/span 8;
  }
}
body.page-template-home section.timeline .events {
  padding-top: 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.timeline .events {
    grid-column: 4/span 8;
  }
}
body.page-template-home section.timeline .event + .event {
  margin-top: 1rem;
  border-top: 1px solid #eee;
  padding-top: 1rem;
}
body.page-template-home section.timeline .event .date {
  font-weight: bold;
  color: #e57526;
}
body.page-template-home section.process {
  background: #fafafa;
  padding-top: clamp(3rem, 10vh, 8rem);
  padding-bottom: clamp(3rem, 10vh, 8rem);
  align-items: start;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.process .info {
    grid-row: 1;
    grid-column: 6/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.process .info {
    grid-row: 1;
    grid-column: 10/span 4;
  }
}
body.page-template-home section.process .photo {
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.process .photo {
    margin-top: 0;
    grid-row: 1;
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.process .photo {
    grid-column: 2/span 7;
  }
}
body.page-template-home section.process .photo-wrapper {
  position: relative;
}
body.page-template-home section.process .photo-wrapper:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-home section.process .photo-wrapper > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-home section.process .photo-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-home section.get-involved {
  padding-top: clamp(3rem, 10vh, 8rem);
  padding-bottom: clamp(3rem, 10vh, 8rem);
  background: #fafafa;
}
body.page-template-home section.get-involved .headline {
  padding-bottom: 2.5rem;
}
body.page-template-home section.get-involved .step {
  display: grid;
  grid-template-columns: 2rem 1fr;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.get-involved .step {
    grid-column: 5/span 6;
  }
}
body.page-template-home section.get-involved .step + .step {
  margin-top: 1.5rem;
}
body.page-template-home section.get-involved .step .number span {
  display: block;
  color: #00a3b8;
  font-weight: bold;
  font-size: clamp(1.5rem, 3vw, 1.75rem);
}

body.page-template-opportunities-constraints section.opportunities {
  /*
  .detail {
      display: grid;
      gap: 2rem;
      align-items: end;

      @include tablet {
          grid-template-columns: 1.5fr 1fr;
      }

      & + .detail {
          margin-top: $section-padding;
      }


      &:nth-of-type(even) {
          @include tablet {
              grid-template-columns: 1fr 1.5fr;

              .info {
                  grid-row: 1;
                  grid-column: 1;
              }

              .map {
                  grid-row: 1;
                  grid-column: 2;
              }
          }
      }

      .item {
          display: grid;
          grid-template-columns: 2rem 1fr;
          align-items: start;

          & + .item {
              margin-top: 1.5rem;
          }


          .label {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background: $teal;

              span {
                  padding-top: 1px;
                  display: block;
                  color: $white;
                  font-size: 0.8125rem;
                  font-weight: bold;
              }
          }
      }
  }
  */
}
body.page-template-opportunities-constraints section.opportunities .intro {
  padding-top: 3rem;
  padding-bottom: 6rem;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-opportunities-constraints section.opportunities .intro {
    grid-template-columns: 1.25fr 1fr;
  }
  body.page-template-opportunities-constraints section.opportunities .intro .info {
    padding-right: 2rem;
  }
}
body.page-template-opportunities-constraints section.opportunities .intro .photo-wrapper {
  position: relative;
}
body.page-template-opportunities-constraints section.opportunities .intro .photo-wrapper:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-opportunities-constraints section.opportunities .intro .photo-wrapper > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-opportunities-constraints section.opportunities .intro .photo-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-opportunities-constraints section.opportunities .map {
  grid-column: 1/-1;
  max-width: 1920px;
  margin: 0 auto;
}
body.page-template-opportunities-constraints section.opportunities .caption {
  padding-top: 1rem;
}
body.page-template-opportunities-constraints section.opportunities .caption a {
  font-weight: bold;
  font-size: clamp(1rem, 1.1vw, 1.125rem);
}
body.page-template-opportunities-constraints section.opportunities .divider {
  width: 100%;
  height: 1px;
  background: #00a3b8;
  margin-top: clamp(3rem, 10vh, 8rem);
  margin-bottom: clamp(3rem, 10vh, 8rem);
}
body.page-template-opportunities-constraints section.constraints {
  padding-bottom: clamp(3rem, 10vh, 8rem);
}
body.page-template-opportunities-constraints section.constraints .intro {
  padding-bottom: clamp(2rem, 5vh, 4rem);
}
@media screen and (min-width: 992px) {
  body.page-template-opportunities-constraints section.constraints .intro {
    grid-column: 2/span 9;
  }
}
body.page-template-opportunities-constraints section.constraints .constraint {
  display: grid;
  gap: 0 2rem;
  align-items: end;
}
@media screen and (min-width: 768px) {
  body.page-template-opportunities-constraints section.constraints .constraint {
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
  }
}
body.page-template-opportunities-constraints section.constraints .constraint + .constraint {
  padding-top: clamp(3rem, 10vh, 8rem);
}
body.page-template-opportunities-constraints section.constraints .constraint .headline {
  display: inline-block;
  padding: 1rem;
  background: #fff;
  margin-top: -2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-opportunities-constraints section.constraints .constraint .headline {
    padding: 0;
    margin: 0;
    display: block;
    margin-top: 0;
  }
}
body.page-template-opportunities-constraints section.constraints .constraint .copy {
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  body.page-template-opportunities-constraints section.constraints .constraint .copy {
    padding: 1rem 0 0 0;
  }
}
body.page-template-opportunities-constraints section.constraints .constraint .photo .compass {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  bottom: 0.75rem;
  left: 0.75rem;
}
body.page-template-opportunities-constraints section.constraints .constraint .photo .compass svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body.page-template-opportunities-constraints section.constraints .caption {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  body.page-template-opportunities-constraints section.constraints .caption {
    text-align: right;
  }
}
body.page-template-opportunities-constraints section.constraints .caption a {
  font-weight: bold;
  font-size: clamp(1rem, 1.1vw, 1.125rem);
}

body.page-template-existing-conditions section.existing-conditions {
  padding-bottom: clamp(3rem, 10vh, 8rem);
}
body.page-template-existing-conditions section.existing-conditions .intro {
  padding-top: 3rem;
  padding-bottom: 6rem;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-existing-conditions section.existing-conditions .intro {
    grid-template-columns: 1.25fr 1fr;
  }
  body.page-template-existing-conditions section.existing-conditions .intro .info {
    padding-right: 2rem;
  }
}
body.page-template-existing-conditions section.existing-conditions .intro .photo-wrapper {
  position: relative;
}
body.page-template-existing-conditions section.existing-conditions .intro .photo-wrapper:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-existing-conditions section.existing-conditions .intro .photo-wrapper > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-existing-conditions section.existing-conditions .intro .photo-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-existing-conditions section.existing-conditions .map {
  grid-column: 1/-1;
  max-width: 1920px;
  margin: 0 auto;
}
body.page-template-existing-conditions section.existing-conditions .map-caption {
  padding-top: 1rem;
}
body.page-template-existing-conditions section.existing-conditions .map-caption a {
  font-weight: bold;
  font-style: italic;
  font-size: clamp(1rem, 1.1vw, 1.125rem);
}
body.page-template-existing-conditions section.gallery {
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  body.page-template-existing-conditions section.gallery {
    padding-bottom: 6rem;
  }
}
body.page-template-existing-conditions section.gallery .headline {
  padding-bottom: 2rem;
}
body.page-template-existing-conditions section.gallery .photos {
  grid-column: 1/-1;
  width: 100%;
  max-width: 100vw;
}
body.page-template-existing-conditions section.gallery .photo {
  width: 60vw;
  margin: 0 0.5rem;
  transition: all 0.3s ease;
  filter: saturate(0.5);
  opacity: 0.75;
}
@media screen and (min-width: 768px) {
  body.page-template-existing-conditions section.gallery .photo {
    width: 40vw;
  }
}
body.page-template-existing-conditions section.gallery .photo img {
  transform: scale(0.9);
  transition: all 0.3s ease;
}
body.page-template-existing-conditions section.gallery .photo .caption {
  padding: 0.5rem 0;
  opacity: 0;
  transition: all 0.3s ease;
  line-height: 1.125em;
}
@media screen and (min-width: 768px) {
  body.page-template-existing-conditions section.gallery .photo .caption {
    padding: 1rem 0;
  }
}
body.page-template-existing-conditions section.gallery .photo:focus, body.page-template-existing-conditions section.gallery .photo:active {
  outline: none;
}
body.page-template-existing-conditions section.gallery .photo:hover, body.page-template-existing-conditions section.gallery .photo:active, body.page-template-existing-conditions section.gallery .photo:focus {
  cursor: ew-resize;
}
body.page-template-existing-conditions section.gallery .photo.slick-center {
  filter: saturate(1);
  opacity: 1;
}
body.page-template-existing-conditions section.gallery .photo.slick-center img {
  transform: scale(1);
}
body.page-template-existing-conditions section.gallery .photo.slick-center .caption {
  opacity: 1;
}

body.page-template-site-plan-development-concepts section.intro .info {
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  body.page-template-site-plan-development-concepts section.intro .info {
    grid-column: 6/span 4;
    padding-bottom: 0;
    grid-row: 1;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-site-plan-development-concepts section.intro .info {
    grid-column: 8/span 6;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-site-plan-development-concepts section.intro .photo {
    grid-column: 2/span 4;
    grid-row: 1;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-site-plan-development-concepts section.intro .photo {
    grid-column: 2/span 6;
  }
}
body.page-template-site-plan-development-concepts section.concepts {
  padding-top: 3rem;
}
body.page-template-site-plan-development-concepts section.concepts .concept {
  padding: 6rem 0;
  gap: 2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-site-plan-development-concepts section.concepts .concept {
    padding: 8rem 0;
  }
}
body.page-template-site-plan-development-concepts section.concepts .concept + .concept:before {
  display: block;
  content: "";
  margin: 0 auto;
  height: 4px;
  background: #00a3b8;
  position: absolute;
  top: -2px;
  width: 100%;
  left: 0;
}
body.page-template-site-plan-development-concepts section.concepts .concept-header {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
body.page-template-site-plan-development-concepts section.concepts .concept-header .headline {
  padding-bottom: 0;
}
body.page-template-site-plan-development-concepts section.concepts .concept-header h3 {
  font-size: clamp(3rem, 5vw, 4rem);
  line-height: 0.625em;
}
body.page-template-site-plan-development-concepts section.concepts .concept-header .cta {
  width: 100%;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  body.page-template-site-plan-development-concepts section.concepts .concept-header .cta {
    width: auto;
    padding-top: 0;
    padding-left: 2rem;
  }
}
body.page-template-site-plan-development-concepts section.concepts .concept-header .cta .underline {
  border-bottom: 2px solid;
}
body.page-template-site-plan-development-concepts section.concepts .concept-header .cta .underline:hover {
  text-decoration: none;
}
body.page-template-site-plan-development-concepts section.concepts .concept-body ul {
  max-width: 36rem;
}
@media screen and (min-width: 768px) {
  body.page-template-site-plan-development-concepts section.concepts .concept-body ul {
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 6rem;
         column-gap: 6rem;
    max-width: unset;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-site-plan-development-concepts section.concepts .concept-body ul {
    -moz-columns: 3;
         columns: 3;
  }
}
body.page-template-site-plan-development-concepts section.concepts .concept-body ul li {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  padding: 0;
  margin: 0 0 1rem 0;
}
body.page-template-site-plan-development-concepts section.concepts .concept .graphic {
  grid-column: 1/-1;
}
body.page-template-site-plan-development-concepts section.concepts .concept .graphic img {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

body.page-template-survey section.content {
  padding-bottom: clamp(3rem, 10vh, 8rem);
}
body.page-template-survey section.content .intro {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-survey section.content .intro {
    grid-template-columns: 1.25fr 1fr;
  }
  body.page-template-survey section.content .intro .info {
    padding-right: 2rem;
  }
}
body.page-template-survey section.content .intro .photo-wrapper {
  position: relative;
}
body.page-template-survey section.content .intro .photo-wrapper:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-survey section.content .intro .photo-wrapper > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-survey section.content .intro .photo-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-survey section.survey {
  padding-bottom: clamp(3rem, 10vh, 8rem);
}
body.page-template-survey section.survey .smcx-embed,
body.page-template-survey section.survey .smcx-iframe-container {
  width: 100%;
  height: 100vh;
  max-width: none;
}
body.page-template-survey section.survey .smcx-embed {
  border: 4px solid #00a3b8;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
}