.copy {
	font-family: $pt-serif;

    &.sans-serif {
        font-family: $dm-sans;
    }
    
    a {
        color: $orange;
    }
}

.p1 {
	font-size: clamp(1.125rem, 1.4vw, 1.25rem);
	line-height: 1.5em;
}

.p2 {
	font-size: clamp(1rem, 1.2vw, 1.125rem);
	line-height: 1.5em;
}

.p3 {
	font-size: clamp(0.875rem, 1vw, 1rem);
	line-height: 1.5em;
}

.caption {
	padding-top: 0.5rem;

	p {
		font-size: clamp(0.75rem, 1vw, 0.8125rem);
		color: $mid-gray;
		font-style: italic;	
	}
}

.copy ul li + li,
.copy ol li + li {
	padding-top: 0.5rem;
}