section.concepts {
    padding-top: 3rem;

    .concept {
        padding: 6rem 0;
        gap: 2rem;

        @include desktop-small {
            padding: 8rem 0;
        }

        & + .concept {
            &:before {
                display: block;
                content: '';

                margin: 0 auto;
                height: 4px;
                background: $teal;
                position: absolute;
                top: -2px;
                width: 100%;
                left: 0;
            }
        }

        &-header {
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;

            .headline {
                padding-bottom: 0;
            }

            h3 {
                font-size: clamp(3rem, 5vw, 4rem);
                line-height: 0.625em;
            }

            .cta {
                width: 100%;
                padding-top: 1rem;

                @include tablet {
                    width: auto;
                    padding-top: 0;
                    padding-left: 2rem;
                }

                .underline {
                    border-bottom: 2px solid;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        &-body {
            ul {
                max-width: 36rem;

                @include tablet {
                    columns: 2;
                    column-gap: 6rem;
                    max-width: unset;
                }

                @include desktop-small {
                    columns: 3;
                }

                li {
                    break-inside: avoid;
                    padding: 0;
                    margin: 0 0 1rem 0;
                }
            }
        }

        .graphic {
            grid-column: 1 / -1;

            img {
                width: 100%;
                max-width: 1920px;
                margin: 0 auto;
            }
        }
    }
}
