section.intro {
    .info {
        padding-bottom: 3rem;

        @include tablet {
            grid-column: 6 / span 4;
            padding-bottom: 0;
            grid-row: 1;
        }

        @include desktop-small {
            grid-column: 8 / span 6;
        }
    }

    .photo {
        @include tablet {
            grid-column: 2 / span 4;
            grid-row: 1;
        }

        @include desktop-small {
            grid-column: 2 / span 6;
        }
    }
}
