@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$dm-sans: 'DM Sans', sans-serif;
$pt-serif: 'PT Serif', serif;