.about-site {
    padding-top: $section-padding;
    padding-bottom: $section-padding;

    &.has-banner {
        padding-top: 3rem;
    }

    .headline {
        h4 {
            font-weight: bold;
            font-size: clamp(1.5rem, 2.5vw, 3rem);
        }
    }

    .copy {
        @include desktop-small {
            grid-column: 2 / span 9;
        }
    }

    .banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1.5rem;
        border: 2px solid $teal;
        margin-bottom: 3rem;
        border-radius: 3px;

        &-header {
            width: 100%;

            @include desktop-small {
                width: auto;
            }

            h3 {
                font-size: clamp(1.125rem, 1.25vw, 1.25rem);

                @include desktop-small {
                    font-size: 0.9375rem;
                }

                @include desktop-medium {
                    font-size: clamp(1.125rem, 1.25vw, 1.25rem);
                }

                line-height: 1.25em;
                strong {
                    color: $teal;
                }
            }
        }

        &-body {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 1.5rem;

            @include desktop-small {
                padding-top: 0;
            }

            .cta {
                width: 100%;

                @include tablet {
                    width: auto;
                }

                & + .cta {
                    margin-top: 1rem;
                    @include tablet {
                        margin-top: 0;
                        padding-left: 1rem;
                    }
                }

                .btn {
                    border-width: 2px;

                    @include desktop-small {
                        font-size: 0.6875rem;
                        padding: 12px 18px 10px 18px;
                    }

                    @include desktop-medium {
                        font-size: 0.75rem;
                        padding: 16px 24px 14px 24px;
                    }
                }
            }
        }
    }
}
