section.get-involved {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background: $off-white;
    
    .headline {
        padding-bottom: 2.5rem;
    }


    .step {
        display: grid;
        grid-template-columns: 2rem 1fr;

        @include desktop-small {
            grid-column: 5 / span 6;
        }

        & + .step {
            margin-top: 1.5rem;
        }

        .number {
            span {
                display: block;
                color: $teal;
                font-weight: bold;
                font-size: clamp(1.5rem, 3vw, 1.75rem);
            }
        }
    }
}