section.home-hero {
	align-items: end;

	.photo {
		grid-row: 1;
		grid-column: 1 / -1;
		@include aspect-ratio(4, 3);
		@include cover-fill-image;
		max-height: 90vh;

		@include tablet-small {
			max-height: 25rem;
		}

		@include tablet {
			@include aspect-ratio(16, 9);
			max-height: 90vh;

		}

		@include desktop-medium {
			@include aspect-ratio(16, 8);
			max-height: 70vh;
		}
	}

	.project-info {
		grid-row: 1;
		z-index: 10;
		padding-bottom: 2rem;
		color: $white;

		@include tablet {
			padding-bottom: 5vh;
		}


		.headline {
			padding-bottom: 0;
		}

		h2 {
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-size: clamp(1.125rem, 1.4vw, 1.25rem);

			&:after {
				display: block;
				content: '';
				width: 2rem;
				height: 0.25rem;
				background: $orange;
				margin-top: 0.5rem;
			}
		}

		
		h1 {
			padding-top: 0.5rem;
			font-size: clamp(2rem, 4vw, 3rem);
		}
	}
}