body.page-template-home {

	&.nav-open {
		overflow-y: hidden;

		.site-header {
			background: $white;
		}

		.site-nav {
			min-height: 100vh;
		}
	}


	@import 'home/hero';

	@import 'home/about';

	@import 'home/the-park';

	@import 'home/timeline';

	@import 'home/process';

	@import 'home/get-involved';
}