section.existing-conditions {
    padding-bottom: $section-padding;

    .intro {
        padding-top: 3rem;
        padding-bottom: 6rem;
        display: grid;
        gap: 2rem;

        @include tablet {
            grid-template-columns: 1.25fr 1fr;

            .info {
                padding-right: 2rem;
            }
        }

        .photo {    
            &-wrapper {
                @include aspect-ratio(4,3);
                @include cover-fill-image;
            }
        }
    }

    .map {
        grid-column: 1 / -1;
        max-width: 1920px;
        margin: 0 auto;
    }

    .map-caption {
        padding-top: 1rem;
        
        a {
            font-weight: bold;
            font-style: italic;
            font-size: clamp(1rem, 1.1vw, 1.125rem);
        }
    }
}