.cta {
    .btn {
        background: $orange;
        color: $white;
        border-color: $orange;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 0.1em;
        font-weight: bold;
        padding: 16px 24px 14px 24px;

        &:hover {
            background: transparent;
            color: $orange;
        }

        &.invert {
            background: transparent;
            color: $orange;

            &:hover {
                background: $orange;
                color: $white;
                border-color: $orange;
            }
        }
    }

    .underline {
        font-weight: bold;
        font-size: clamp(0.875rem, 1vw, 1rem);
        font-style: italic;
        color: $orange;
    }
}
