section.content {
    padding-bottom: $section-padding;

    .intro {
        display: grid;
        gap: 2rem;

        @include tablet {
            grid-template-columns: 1.25fr 1fr;

            .info {
                padding-right: 2rem;
            }
        }

        .photo {    
            &-wrapper {
                @include aspect-ratio(4,3);
                @include cover-fill-image;
            }
        }
    }
}