section.survey {
    padding-bottom: $section-padding;

    .smcx-embed,
    .smcx-iframe-container {
        width: 100%;
        height: 100vh;
        max-width: none;
    }

    .smcx-embed {
        border: 4px solid $teal;
        box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
    }
}