section.constraints {
    padding-bottom: $section-padding;

    .intro {
        padding-bottom: $half-section-padding;

        @include desktop-small {
            grid-column: 2 / span 9;
        }
    }

    .constraint {
        display: grid;
        gap: 0 2rem;
        align-items: end;

        @include tablet {
            gap: 2rem;
            grid-template-columns: 2fr 1fr;
    

        }

        & + .constraint {
            padding-top: $section-padding;
        }

        .headline {
            display: inline-block;
            padding: 1rem;
            background: $white;
            margin-top: -2rem;

            @include tablet {
                padding: 0;
                margin: 0;
                display: block;
                margin-top: 0;
            }
        }

        .copy {
            padding: 0 1rem;

            @include tablet {
                padding: 1rem 0 0 0;
            }
        }

        .photo {
            .compass {
                display: block;
                width: 1.25rem;
                height: 1.25rem;
                position: absolute;
                bottom: 0.75rem;
                left: 0.75rem;
                
                svg {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .caption {
        padding-top: 1rem;

        @include tablet {
            text-align: right;
        }

        a {
            font-weight: bold;
            font-size: clamp(1rem, 1.1vw, 1.125rem);
        }
    }
}